<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocationAccuracy</key>
	<integer>50</integer>
	<key>ClaimingEmail</key>
	<string>test@wezitat.com</string>
	<key>WitMarkersNumber</key>
	<integer>8</integer>
	<key>WitObjectsFileName</key>
	<string>columbia_objects</string>
	<key>DistanceNear</key>
	<real>2000</real>
	<key>DistanceHere</key>
	<integer>100</integer>
	<key>HIdeThereMarkers</key>
	<false/>
</dict>
</plist>
